@font-face{
  font-family: Mustica;
  src: url("/assets/font/Mustica_SemiBold.otf");
}
@font-face{
  font-family: SalmaAlfa-Light;
  src: url('/assets/font/SalmaAlfaLight.otf');
}


$mustica : "Mustica";
$salmaAlfalight : "SalmaAlfa-Light";
