@font-face{
  font-family: Mustica;
  src: url("/HacktoberfestNamelist/assets/font/Mustica_SemiBold.otf");
}
@font-face{
  font-family: SalmaAlfa-Light;
  src: url("/HacktoberfestNamelist/assets/font/SalmaAlfaLight.otf");
}


$mustica : "Mustica";
$salmaAlfalight : "SalmaAlfa-Light";
